page-forgot-password {
  .padding-top {
        margin-top: 15px;
  }

  .logo{
    text-align: center;
    background: #fff;

    img{
        width: 50%;
    }
}

.trakouss{
  background: #0ac1e3;
}
}
