add-publication{
    .card{
        width: 100%;
    }
    .scroll-content{
        padding: 10px !important;
    }
    ion-textarea{
        textarea{
            height: 200px !important;
        }
    }

  
}