page-regions {

ion-slides#sliding {
    height: 230px;
}

.jj{
        color: #fff;
    background: #e91e63;
    width: 96px;
    text-align: center;
    margin: 0;
    padding: 30px;
    position: fixed;
    z-index: 1;
    right: 7px;
    top: 203px;
    border-radius: 50%;
}


#element {
    margin-top: 10px;
}

.swiper-slide img{
	position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index:-1;
}

.swiper-slide h2{
	background: rgba(245, 61, 61, 0.55);
    padding: 30px;
    top: 0;
    color: #fff;
    position: absolute;
    margin-top: 0;
    right: 0;
    left: 0;
    bottom: -22px;
}

ion-segment{
    justify-content: space-between;
    overflow: auto;
    &::-webkit-scrollbar{
        width: 0;
        height: 0;
        display: none;
    }
}

    ion-segment.white ion-segment-button{
        background: #fff;
        color: #000 !important;
        display: inline-block !important;
        min-width: 100px !important;
        width: auto !important;
        flex: 1 0 100px;
    }


     ion-segment.white ion-segment-button.segment-activated{
        border-color: red !important;
        opacity: 1;
    }
}
