page-publication{
    .card{
        margin: 0 !important;
        width: 100%;
        margin-bottom: 10px !important;
    }

    .scroll-content{
        padding: 10px !important;
    }

    .mycard{
        float: left;
        margin: 8px 16px 8px 0;
    }

    .mycardlabel{
        float: left;
        margin-top: 13px;
    }
}